<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DashboardMainController</servlet-name>
  	<display-name>DashboardMainController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardMainController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardMenuController</servlet-name>
  	<display-name>DashboardMenuController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardMenuController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardLocationController</servlet-name>
  	<display-name>DashboardLocationController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardLocationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageAccountController</servlet-name>
  	<display-name>ManageAccountController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ManageAccountController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardEmployeeController</servlet-name>
  	<display-name>DashboardEmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuController</servlet-name>
  	<display-name>MenuController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.MenuController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartController</servlet-name>
  	<display-name>CartController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.CartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardOrderController</servlet-name>
  	<display-name>DashboardOrderController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOrderController</servlet-name>
  	<display-name>ViewOrderController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ViewOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrdersController</servlet-name>
  	<display-name>OrdersController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.OrdersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryController</servlet-name>
  	<display-name>QueryController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.QueryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardQueryController</servlet-name>
  	<display-name>DashboardQueryController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardQueryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationController</servlet-name>
  	<display-name>ReservationController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ReservationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardReservationController</servlet-name>
  	<display-name>DashboardReservationController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Admin.DashboardReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DashboardMainController</servlet-name>
  	<url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardMenuController</servlet-name>
  	<url-pattern>/DashboardMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardLocationController</servlet-name>
  	<url-pattern>/DashboardLocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAccountController</servlet-name>
  	<url-pattern>/ManageAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardEmployeeController</servlet-name>
  	<url-pattern>/DashEmployeeManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuController</servlet-name>
  	<url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartController</servlet-name>
  	<url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardOrderController</servlet-name>
  	<url-pattern>/DashboardOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOrderController</servlet-name>
  	<url-pattern>/ViewOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrdersController</servlet-name>
  	<url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryController</servlet-name>
  	<url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardQueryController</servlet-name>
  	<url-pattern>/DashboardQueryManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationController</servlet-name>
  	<url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardReservationController</servlet-name>
  	<url-pattern>/DashboardReservationManagement</url-pattern>
  </servlet-mapping>
</web-app>
