<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DashboardMainController</servlet-name>
  	<display-name>DashboardMainController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.DashboardMainController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardMenuController</servlet-name>
  	<display-name>DashboardMenuController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.DashboardMenuController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardLocationController</servlet-name>
  	<display-name>DashboardLocationController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.DashboardLocationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageAccountController</servlet-name>
  	<display-name>ManageAccountController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ManageAccountController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardEmployeeManagementController</servlet-name>
  	<display-name>DashboardEmployeeManagementController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.DashboardEmployeeManagementController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuController</servlet-name>
  	<display-name>MenuController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DashboardMainController</servlet-name>
  	<url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardMenuController</servlet-name>
  	<url-pattern>/DashboardMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardLocationController</servlet-name>
  	<url-pattern>/DashboardLocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageAccountController</servlet-name>
  	<url-pattern>/ManageAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardEmployeeManagementController</servlet-name>
  	<url-pattern>/DashEmployeeManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuController</servlet-name>
  	<url-pattern>/Menu</url-pattern>
  </servlet-mapping>
</web-app>
